// 设置没有底部栏
.weui-panel-bottom{
  .weui-tab__panel{
    padding-bottom: 0;
  }
}
// 代理中心
.main-padding-top {
  // vux-header 90px
  padding-top: 40px + 90px;
}
.android-hack .main-padding-top {
  padding-top: 90px;
}
.top-slide {
  width: 100%;
  background-color: #fff;
  overflow: hidden;
  img {
		width: 100%;
    border: 0;
    vertical-align: middle;
  }
}
// 搜索框
.group-search{
  margin:15px;
  .vux-x-input{
    padding: 6px!important;
  }
}
//日期切换
.group-select-data{
  .weui-cells:before{
    border: none;
  }
  .weui-cells{
   background: none;
   margin: 0;
   .vux-cell-value{
    color: white;
   }
   .weui-cell_access .weui-cell__ft:after{
    border-color: white;
   }
   .weui-cell_access:visited{
    background: #cd0006;
   }
   .weui-cell_access:active {
     background-color:#cd0006;
    }
  }
  .weui-cells:after{
    border:none;
  }
  .weui-cell{
    padding: 0!important;
  }
}

// 弹出框
.popup-blue{
  color: #0a5eff;
}

// 返点详情title
.v-transfer-dom{
.popup-title{
  padding: 10px 15px!important; 
  .weui-cell__ft{
    text-align: left;
    display: block;
    width: 100%;
    overflow: hidden;
    padding: 15px 0;
    line-height: 30px;
    label{
      color: #333;
      font-size: 18px; /*px*/
    }
    i{
      font-size: 30px;
      float: right;
    }
  }
}
}
// 下级用户-彩票列表
.rebate-tabel{
  .title{
    position: fixed;
    z-index: 2;
    width: 100%;
    font-size: 12px;/*px*/
    color: #999;
    font-weight: normal;
    background: white;
    padding: 5px;
  }
}
.lottery-items{
  .weui-cell__hd{
    width: 70px;
  }
}
// 返点赔率表
.fix:before,
.fix:after {
  content: "";
  display: table;
}
  .fix:after {
    clear: both;
    overflow: hidden;
}
.rebate-items{
  height: 100%;/*px*/
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; 
  @extend .fix;
  padding-top: 50px;
  .rebate-title{
    position: relative;
    z-index: 1;
    width: 35%;
    box-shadow: 0.5em 0 0.5em #d5d5d5;
  }
  .rebate-content > div {
    @extend .fix;
  }
  // 左侧标题和右侧内容 
  .rebate-title,.rebate-content-item{
    background: white;
    float: left;
    li:nth-child(2n+1){
     background: #eee;
    }
    li{
      height: 80px;
      line-height: 80px;
      text-align: center;
      position: relative;
      color: #333;
      overflow: hidden;
      white-space: normal;
      text-overflow: ellipsis;      
      font-size: 12px;/*px*/
      label{
        position: absolute;
        left: 30px;
        bottom: -12px;
        z-index: 2;
      }
      span{
        position: absolute;
        right: 30px;
        top: -12px;
        z-index: 2;        
      }
    }
    
  }
  .rebate-content-item{
    width: 110px;/*px*/
  }
  // 右侧内容
  .rebate-content{
    width: 65%;
    float: left;
    overflow: auto;
  }
}
//
.switching-bottom{
  .weui-cells{
    border-bottom: none;
    margin-bottom: 0;
  }
  .weui-cells:after{
    border-bottom: none;
  }
}
// 控制表格字体颜色
.table-color{
  .blue{
    color: rgb(51, 136, 255);
  }
  .red{
    color:#cd0006;
  }
}

// 表格空数据提示
.tips-table{
  margin: auto;
  text-align: center;
  color: #ccc;
  height: 400px;
  label{
    font-size: 36px;
    display:block; 
  }
  .icon-wry-smile{
    padding-top:80px;
    font-size: 50px;
  }
}

// 投注列表
.betting-items{
  overflow: hidden;
  img{
    width: 110px;
    height: 110px;
    margin-right: 40px;
  }
  .item-left{
    label{
			display: block;
      font-size: 16px;/*px*/
      span{
        color: #989898;
        font-size: 12px;/*px*/
      }  
    }
    p{
      color: #989898;
    }
  }
  .item-right{
   text-align: right;
   i{
     display: block;
   }
   .red{
     color: #cd0006;
   }
   .green{
     color: green;
   }
   .gray{
     color: #989898;
   }
  } 
}
// 设置白色背景
.bg-wite{
  background: white;
}

// 查看详情
.popup-list {
  background: white;
  overflow: hidden;
  .item {
    padding: 20px;
    border-top: 1px solid #f5f5f5;
    .right {
      float: right;
    }
  }
}

// 数据记载完
.load-completion{
  padding-top: 20px;
  i,span{
    display: block;   
    text-align: center;
    font-size: 30px;
    color: #ccc;
  }
  span{
    font-size: 36px;
  }
}