/* #region chart */
.chart-view header {
	position: relative;
	z-index: 2;
}
.chart-view .weui-tab__panel {
	position: relative;
	padding-bottom: 88 + 130 + 50px;
}
/* #endregion */

/* #region home */
.home {
	.vux-header-left {
		position: absolute;
		top: 40 + 45px;
		margin-top: -12px;
		line-height: 1;
	}
	.weui-tab__panel {
		-webkit-overflow-scrolling: auto;
	}
}
.vux-header,
.buy-tool,
.ui-footer {
	z-index: 500;
}
/* #endregion */

/* #region gameball */
.gameball {
	display: inline-block;
	border-radius: 50%;
	font-weight: 700;
	text-align: center;
}
.gameball-lg {
	@include square(80);
	line-height: 80px;
	background: #fff;
	font-size: 14px; /*px*/
	color: $primary-color;
	border: border1px(); /*no*/
	&:active,
	&.active {
		background: $primary-color;
		color: #fff;
	}
}
.gameball-sm {
	@include square(55);
	line-height: 55px;
	background-color: $primary-color;
	font-size: 10px; /*px*/
	color: #fff;
}
.gameball-gray {
	@include square(55);
	line-height: 55px;
	background-color: $gray-dark;
	font-size: 10px; /*px*/
	color: #fff;
}
/* #endregion */

/* #region buy-tool */
.ui-footer,
.buy-tool {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
}
.buy-tool {
	&-head,
	&-footer {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&-footer {
		height: 100px;
		padding: 0 $space-lg;
		background-color: #666;
		color: #fff;
    // font-size: 15px; /*px*/
    font-size: 15px; /*px*/
		.icon-empty {
			display: block;
			font-size: 25px; /*px*/
		}
		.result {
			font-weight: 700;
		}
		.space {
			display: inline-block;
		}
		.weui-btn {
      font-size: 14px; /*px*/
		}
	}
	&-head {
		height: 86px;
		border-top: border1px(); /*no*/
		background: #fff;
		padding: 0 40px;
		.stop-checkbox {
			input {
				margin-right: $space-sm;
				vertical-align: middle;
				-webkit-appearance: checkbox;
			}
		}
		.weui-cell {
			margin: 0 $space-sm;
			display: inline-block;
			vertical-align: middle;
			padding: 0!important;
			border: none!important;
		}
		$height: 66px;
		$width: 60px;
		.vux-number-selector-sub,
		.vux-number-selector-plus,
		.vux-number-input {
			padding: 0;
			height: $height;
			width: $width;
			line-height: 80px;
			border: border1px(); /*no*/
			font-size: 14px; /*px*/
			font-weight: 700;
			text-align: center;
		}
		.vux-number-input {
			line-height: 1;
			padding: $space-sm;
		}
		.vux-number-selector-sub {
			border-right: none;
			border-radius: $space-sm 0 0 $space-sm;
		}
		.vux-number-selector-plus {
			margin-right: 0;
			border-left: none;
			border-radius: 0 $space-sm $space-sm 0;
		}
	}
}
/* #endregion */

/* #region 顶部下拉菜单 */
.ui-mask {
	display: none;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.6);
	&-transparent {
		background: transparent;
	}
	&.active {
		display: block;
		opacity: 1;
	}
}
.ui-dropdown,
.helper-menu {
	top: 40+90px;
 }
// 助手菜单
.helper-menu {
	border: border1px(); /*no*/
	position: absolute;
	right: 0;
	width: 200px;
	z-index: 1;
	li {
		background: #000;
		color: #fff;
		padding: $space-lg 0;
		text-align: center;
	}
	li + li {
		border-top: border1px(); /*no*/
	}
}
.ui-dropdown {
	z-index: 1;
	position: fixed;
	left: 0;
	right: 0;
	width: 100%;
	padding-top: $space;
	background: $bg-color;
	box-shadow: 0 3px 5px rgba(0, 0, 0, .1);
	transition: transform .3s ease-in-out;
	transform: translate3d(0, -200%, 0);
	&.active {
		transform: translate3d(0, 0, 0);
	}
	.vux-checker-box {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
	}
}
.type-radio {
	$border-radius: $space-sm;
	overflow: hidden;
	position: relative;
	width: 214px;
	padding: 16px 0;
	margin-bottom: $space;
	border: border1px(); /*no*/
	background: #fff;
	border-radius: $border-radius;
	text-align: center;
	font-size: 14px; /*px*/
	line-height: 1;
	// 选中
	&:before {
		@extend .iconfont;
		color: $primary-color;
		position: absolute;
		right: -1px; /*no*/
		bottom: 0;
		line-height: 1;
	}
	&-selected {
		border-color: $primary-color;
		color: $primary-color;
		&:before {
			content: "\e6d5";
		}
	}
	// 禁用
	&:after {
		width: 200%;
		height: 200%;
		position: absolute;
		top: 0;
		left: 0;
		-webkit-transform: scale(0.5);
		-webkit-transform-origin: 0 0;
		box-sizing: border-box;
		border-radius: $border-radius;
	}
}
.sm-radio {
	font-size: 12px; /*px*/
}
.ui-dropdown .vux-divider {
	padding-top: 0;
	padding-bottom: $space;
}
/* #endregion */

/* #region login */
.login {
	.vux-x-icon {
		fill: #fff;
	}
	.helper {
		display: flex;
		justify-content: space-between;
		margin: 40px $space-lg;
	}
	.form-group-right {
		display: inline-block;
		padding: 0 $space-sm 0 $space;
		height: 100%;
	}
}
.form-footer {
	margin: 0 $space;
}
.weui-btn {
	padding: $space-sm;
	font-size: 14px; /*px*/
}
.custom-default {
	color: $primary-color !important;
	&:after {
		border-color: $primary-color !important;
	}
}
/* #endregion */

/* #region countdown */
.countdown-btn {
	display: inline-block;
	padding: 0 1.32em;
	line-height: 2.3;
	font-size: 13px;
	color: #333;
	background-color: #EC8B89;
	border-radius: 5px;
	&:after {
		content: " ";
		width: 200%;
		height: 200%;
		position: absolute;
		top: 0;
		left: 0;
		border: 1px solid rgba(0, 0, 0, 0.2);/*no*/
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
		-webkit-transform-origin: 0 0;
		transform-origin: 0 0;
		box-sizing: border-box;
		border-radius: 10px;
	}
}
/* #endregion */

/* #region bank-password */
.bank-password {
	width: 70%;
	display: flex;
	justify-content: space-around;
	background: #fff;
	border-radius: $space-xs;
	border: border1px(); /*no*/
	text-align: center;
	span {
		@include square(80);
		line-height: 80px;
		flex-basis: (1/6)*1%;
		flex: 1;
		font-size: 15px; /*px*/
		font-weight: 700;
		& + span {
			border-left: border1px(); /*no*/
		}
	}
}
/* #endregion */

/* #region withdraw-view */
.withdraw-view .weui-cell_select .weui-select {
	padding-left: 0;
}
.withdraw-view .weui-select {
	height: auto;
	line-height: 1;
}
/* #endregion */

/* #region 投注详情 */
.focusdetail,
.betdetail {
	overflow: hidden;
	margin-bottom: $space;
	background: #fff;
	border-top: border1px(); /*no*/
	border-bottom: border1px(); /*no*/
}
.focusdetail-title,
.betdetail-title {
	position: relative;
	z-index: 1;
	border-left: 4px solid $primary-color;
	color: $gray-light;
	line-height: 1;
	margin-bottom: $space-lg;
	h3 {
		display: inline-block;
		padding: 0 $space 0 $space-sm;
		background: #fff;
		font-weight: normal;
		font-size: 15px; /*px*/
	}
}
.betdetail {
	padding: 0 $space;
}
.betdetail-title {
	&:after {
		content: "";
		position: absolute;
		z-index: -1;
		width: 100%;
		height: 1px;/*no*/
		background: $border-color;
		top: 50%;
		left: 0;
		right: 0;
	}
}
.betdetail-head {
	display: flex;
	align-items: baseline;
	margin: 40px 0;
	h2 {
		font-size: 16px; /*px*/
		margin-right: $space;
	}
	span {
		display: block;
	}
}
.betdetail-body {
	.result {
		margin-bottom: 40px;
	}
	.gameball {
		margin-right: $space;
	}
}
.betdetail-foot {
	position: relative;
	dl {
		font-size: 14px; /*px*/
    word-wrap: break-word;
    word-break: break-all;
	}
	dd {
		margin-bottom: $space-lg;
	}
	.iconfont {
		position: absolute;
		top: 50px;
		right: 60px;
		font-size: 100px; /*px*/
	}
}
// button
.ui-footer .custom-default {
	&,
	&:after {
		padding: $space;
		border-radius: 0 !important;
		border-left: 0;
		border-right: 0;
		border-color: $border-color !important;
	}
}
// 追号
.focusdetail {
	padding-top: $space;
	&-title {
		margin: $space;
	}
	.weui-cells {
		margin-bottom: 0;
	}
}
/* #endregion */

/* #region notice */
.notice .weui-tab__panel {
	&:before {
		content: "";
		position: absolute;
		left: $space-lg;
		top: 0;
		bottom: 0;
		height: 100%;
		width: 1px;/*no*/
		background: $border-color;
	}
}
/* #endregion */

// 活动
.event-view .weui-tab__panel {
	$size: 20px;
	padding-top: $size;
	padding-left: $size;
	padding-right: $size;
}
// 首页
.vux-swiper-desc {
	display: none;
}

/* #region play-chart */
.play-chart {
	position: absolute;
	// position: relative;
	width: 100%;
	left: 0;
	right: 0;
	margin-bottom: $space;
	color: $gray;
	visibility: hidden;
	&.active {
		visibility: visible;
	}
	th,td {
		padding: $space-sm 0;
	}
	th {
		font-weight: normal;
		border-bottom: border1px(); /*no*/
	}
	td {
		text-align: center;
	}
	td.form {
		& > span {
			display: inline-block;
			width: 50%;
		}
		span+span {
			text-align: left;
		}
	}
}
/* #endregion */

// 验证码图片
.weui-vcode-img {
	height: 44px;
}

// 充值
.pay-view {
	.vux-label-desc {
		display: block;
		margin-top: $space-sm;
		color: $gray;
		font-size: 13px; /*px*/
	}
}

/* #region gameCenter */
.game-center .vux-header .vux-header-title,
.game-center .vux-header h1 {
	font-size: 16px; /*px*/
}
.game-center-head {
	background: #fff;
	text-align: center;
	line-height: 1;
	.weui-grid {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 30px 0 30px;
		height: 145px;
		&:active {
			background: none !important;
		}
	}
	.result,
	.count-down {
		font-size: 14px; /*px*/
	}
	.result em {
		display: inline-block;
	}
	.result em + em {
		margin-left: $space-sm;
	}
	.count-down {
		display: inline-block;
	}
}
.game-center-body {
	position: relative;
	padding: $space;
	overflow: hidden;
	background: $bg-color;
	min-height: 100%;
	transform: translate3d(0, 0, 0);
	transition: transform .38s ease-in-out;
	&.active {
		transform: translate3d(0, 620px, 0);
	}
	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		border-top: border1px(); /*no*/
	}
	.toggle-chart {
		position: absolute;
		top: -1px;
		left: 50%;
		transform: translateX(-50%);
		border: border1px(); /*no*/
		border-top: none;
		width: 100px;
		height: 40px;
		text-align: center;
		background: $bg-color;
		svg {
			fill: $gray;
		}
	}
	.tip {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.icon-shake {
		font-size: 25px; /*px*/
	}
	.gocart {
		position: relative;
		padding: $space-xs $space;
		border: border1px(); /*no*/
		border-radius: $space-lg;
		background: #fff;
	}
	.vux-badge {
		position: absolute;
		top: -15px;
		right: -10px;
		background: $warning-color;
	}
	.icon-cart {
		margin-right: $space-sm;
		color: $primary-color;
	}
}
.numbers {
	line-height: 1;
	&-title {
		border-bottom: border1px(); /*no*/
		text-align: center;
		padding-bottom: $space;
		h3 {
			margin-right: $space-lg;
			display: inline-block;
			font-weight: normal;
			font-size: 15px; /*px*/
		}
	}
	&-cell {
		padding-top: $space;
		@include clearfix();
	}
	&-cell + &-cell {
		padding-top: 40px;
		border-top: border1px(); /*no*/
	}
	.side {
		float: left;
		width: 110px;
	}
	.main {
		margin-left: 110px;
	}
	.label {
		margin: 15px 0 $space;
		display: inline-block;
		min-width: 35px;
		height: 22px;
		line-height: 22px;
		padding-left: 5px;
		text-align: center;
		position: relative;
		background: #e4e4e4;
		color: $gray-light;
	}
	.label::before,
	.label::after {
		content: '';
		position: absolute;
		left: 100%;
		top: 0;
		$size: 11px;
		border-bottom: $size solid transparent;
		border-left: 10px solid #e4e4e4;
		border-top: $size solid transparent;
	}
	.number,
	.rectangle {
		display: inline-block;
		margin-right: $space;
		text-align: center;
		vertical-align: top;
	}
	.number-value,
	.rectangle-value {
		position: relative;
		display: block;
		margin: 0 auto $space-sm;
		background: #fff;
		text-align: center;
		font-weight: 700;
	}
	.number-value {
		@include square(80);
		line-height: 80px;
		border: border1px(); /*no*/
		border-radius: 50%;
		font-size: 14px; /*px*/
		color: $primary-color;
	}
	.number-value-lg {
		@include square(100);
		line-height: 100px;
		font-size: 20px; /*px*/
	}
	.number-active {
		.number-value,
		.number-red {
			background: $primary-color;
			color: #fff;
		}
		.number-green {
			background: $success-color;
			color: #fff;
		}
		.number-blue {
			background: $info-color;
			color: #fff;
		}
	}
	.number-omit {
		display: block;
		width: 80px;
		margin-bottom: $space;
		color: $gray-light;
	}
	.number-value,
	.number-omit {
		margin-left: auto;
		margin-right: auto;
	}
	// rectangle
	.rectangle-value {
		padding: $space 0;
		width: 85%;
		border: border1px(); /*no*/
		border-radius: $space-sm;
		font-size: 20px; /*px*/
		overflow: hidden;
	}
	.rectangle-active .rectangle-value {
		border-color: $primary-color;
		color: $primary-color;
		&:before {
			content: "\e6d5";
			@extend .iconfont;
			color: $primary-color;
			position: absolute;
			right: -1px;
			bottom: 0;
			line-height: 1;
		}
	}
}
.hideOmit {
	.side .label:nth-child(2),
	.number-omit {
		visibility: hidden;
	}
	.number-omit {
		margin-bottom: 0;
	}
}
.dwd {
	.top,
	.top-digits {
		margin-left: 100px;
		display: flex;
	}
	.top {
		$size: 60px;
		justify-content: space-around;
		background: #e4e4e4;
		padding: 2px 0;
		border-radius: $size;
		.filter {
			display: block;
			@include square(60);
			line-height: $size;
			background: #fff;
			border: border1px(); /*no*/
			border-radius: 50%;
			text-align: center;
		}
		.filter-active {
			background: $primary-color;
			color: #fff;
		}
	}
	.top-digits {
		justify-content: space-between;
		.filter-digits {
			position: relative;
			display: block;
			padding: $space;
			border-radius: $space-sm;
			border: border1px(); /*no*/
			overflow: hidden;
		}
		.filter-digits-active {
			border-color: $primary-color;
			// 选中
			&:before {
				content: "\e6d5";
				font-family:"iconfont";
				color: $primary-color;
				position: absolute;
				right: -1px;
				bottom: -1px;
				line-height: 1;
			}
		}
	}
	.main {
		clear: both;
		margin-left: 0;
	}
	.number {
		width: 20%;
		margin-right: 0;
	}
	.rectangle {
		width: 33.3%;
		margin-right: 0;
	}
}
/* #endregion */

/* #region 弹窗 */
.setpice-head {
	display: flex;
	justify-content: space-between;
	item-align: center;
	$height: 56px;
	line-height: $height;
	overflow: hidden;
	& > * {
		display: block;
		white-space: nowrap;
	}
	input {
		margin-right: $space-sm;
		flex: 1;
		width: 100%;
		padding: 0 $space;
		height: $height;
		border: border1px(); /*no*/
		border-radius: 0;
		box-shadow: none;
		outline: none;
		background: #fff;
		text-align: right;
		font-size: 14px; /*px*/
		-webkit-touch-callout: none;
	}
}
.setpice-body {
	margin: $space-lg 0 40px;
	display: flex;
	justify-content: space-between;
	.price-radio {
		display: block;
		width: 90px;
		height: 60px;
		line-height: 60px;
		text-align: center;
		background: #999;
		border-radius: 10px;
		color: #fff;
		font-size: 11px; /*px*/
	}
	.price-radio-selected {
		background: $primary-color;
	}
}
.setpice-foot {
	p + p {
		margin-top: $space;
	}
	span {
		margin-right: 80px;
	}
	em {
		margin: 0 $space-sm;
	}
}
/* #endregion */

/* #region game-cart */
.game-cart-head {
	margin: 0 $space;
	padding: $space 0;
	border-bottom: border1px(); /*no*/
}
.game-cart-body {
	margin: 0 $space;
	padding-bottom: 60px;
	.weui-cell {
		b {
			display: block;
			margin-right: $space;
			margin-bottom: $space;
			font-size: 14px; /*px*/
			word-break: break-all;
		}
		span + span {
			margin-left: $space-lg;
		}
	}
	.remove {
		position: absolute;
		right: $space-lg;
		top: 50%;
		transform: translateY(-50%);
	}
}
/* #endregion */

/* #region 色波 */
.sb-num {
	display: inline-block;
	@include square(36);
	line-height: 36px;
	text-align: center;
	border: border1px(); /*no*/
	border-radius: 50%;
	color: #fff;
	font-size: 9px; /*px*/
	& + .sb-num {
		margin-left: $space-sm;
	}
}
.sb-red {
	border-color: #b31819;
	background-color: #c91b1c;
}
.sb-green {
	border-color: #59af24;
	background-color: #5cb624;
}
.sb-blue {
	border-color: #4087b5;
	background-color: #1c85c9;
}
/* #endregion */

// promotionDetail
.artile-content {
	img {
		max-width: 100% !important;
		height: auto !important;
	}
}

// fix 2018.04.10
.chart-head .left span {
	display: inline-block;
	width: auto;
}
